<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Parallel Tests" verbose="1" thread-count="5" parallel="tests">
<test name="test">    
     
    <parameter name="browser" value="internet explorer"/>
    <classes>         
       <class name="main.TC01_공통"/> 
       <class name="main.TC02_만화홈"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
